<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Create your Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">User</ion-label>
    <ion-input [(ngModel)]="usuario"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="clave"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Repeat Password</ion-label>
    <ion-input [(ngModel)]="clave2"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="mail"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Last Name</ion-label>
    <ion-input [(ngModel)]="apellido"></ion-input>
  </ion-item>

  <div class="boton">
    <ion-button expand="block" fill="outline" size="small" slot="start"(click)="insertar()">Create Account</ion-button>
    <ion-button expand="block" fill="outline" size="small" slot="start">Exit</ion-button>
  </div>

  <div>
    <ion-button expand="block" fill="outline" size="small" slot="start" [routerLink]="['/home']">
      <ion-icon name="logo-google"></ion-icon>
      Sign up with Google
    </ion-button>
  </div>

  <div>
    <ion-button expand="block" fill="outline" size="small" slot="start" [routerLink]="['/home']">
      <ion-icon name="logo-facebook"></ion-icon>
      Sign up with Facebook
    </ion-button>
  </div>

  <div class="ion-text-center">
    You have account? <a [routerLink]="['/login']">Log in here!</a>
  </div>
</ion-content>
