<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RCycle
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center subtitulo">Perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="full">
        <ion-item>
          <ion-label class="labels">Usuario: </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="labels">Contraseña: </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="labels">Nombre:</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="labels">Email: </ion-label>
        </ion-item>
      </ion-list>
      <br>
      <ion-button  expand="full" class="labels" color="dark">Modificar Perfil</ion-button>
      <ion-button  expand="full" class="labels" color="dark"  (click)="inicio()">Inicio</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

  
<ion-list>
  
</ion-list>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/home']" tab="home">
          <ion-icon name="home"></ion-icon>
          Feed
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/search']" tab="search">
          <ion-icon name="search"></ion-icon>
          Search
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/create-post']" tab="Post">
          <ion-icon name="add"></ion-icon>
          Post
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/Perfil']" tab="profile">
          <ion-icon name="person"></ion-icon>
          Profile
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>